<h1>Minesweeper Board Generator</h1>

<%= render 'form' %>

<h1>Most recently generated boards</h1>

<table class="board-list">
  <thead>
    <tr>
      <th>Board Name</th>
      <th>Dimensions</th>
      <th>Number of mines</th>
      <th>Owner</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= link_to board.name, board_path(board) %></td>
        <td><%= "#{board.width} x #{board.height}" %></td>
        <td><%= "#{board.num_mines}" %></td>
        <td><%= board.user.email %></td>
        <td><%= board.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="common-btn all-btn">
  <%= link_to 'View all generated boards', boards_path %>
</div>
