<div class="back-btn">
  <%= link_to "Back to home", root_path %>
</div>

<h1 class="board-name">Board name: <%= @board.name %></h1>
<p class="board-info">Dimensions: <%= @board.width %> x <%= @board.height %></p>
<p class="board-info">Number of mines: <%= @board.num_mines %></p>
<p class="board-info">Owner: <%= @user.email %></p>
<p class="board-info">Created At: <%= @board.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>

<div class="board-container">

  <div class="pagination-top">
    <%= link_to "Up", board_path(@board, page_row: [@page_row.to_i - 1, 0].max, page_col: @page_col) %>
  </div>

  <div class="table-container">
    <div class="pagination-left">
      <%= link_to "Left", board_path(@board, page_row: @page_row, page_col: [@page_col.to_i - 1, 0].max) %>
    </div>

    <table class="board-table">
      <% @rows.each do |row| %>
        <tr>          
          <% @cols.each do |col| %>
            <% if @mines.any? { |mine| mine[:x] == row && mine[:y] == col } %>
              <td class="board-cell mine">
                <span class="mine-icon">💣</span>
              </td>
            <% else %>
              <td class="board-cell">
                &nbsp;
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>

    <div class="pagination-right">
      <%= link_to "Right", board_path(@board, page_row: @page_row, page_col: [@page_col.to_i + 1, (@board.width / @limit_cell).floor].min) %>
    </div>
  </div>

  <div class="pagination-bottom">
    <%= link_to "Down", board_path(@board, page_row: [@page_row.to_i + 1, (@board.height / @limit_cell).floor].min, page_col: @page_col) %>
  </div>
</div>
